@model azot_proj1.Models.WorkshopsViewModel


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body bgcolor="silver">
    <div>

        @using System.Web.Optimization
        @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
        @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")

        <table>
            <tr>
                <td><h3 align="center">Параметры</h3></td>
                <td></td>
                <td><h3 align="center">Нарушения</h3></td>

            </tr>
            <tr>
                <td><div id="first_table"></div></td>
                <td width="100px"></td>
                <td><div id="second_table"></div></td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(m => m.selectedWorkshopId)
                    @Html.DropDownListFor(m => m.selectedWorkshopId, Model.workshops, new { @class = "form-control", @id = "ddlist" })
                </td>
                <td>
                    <button id="refresh_button"> обновить</button>

                    <p style="display: none"> @Ajax.ActionLink(linkText: "info", actionName: "getFirstTable", routeValues: new { in_id = "ws_id" }, ajaxOptions: new AjaxOptions { UpdateTargetId = "first_table" }, htmlAttributes: new { @id = "anchorclick", @class = "ddlSubmit" }) </p>
                </td>
                <td>
                    <input id="ws_id" style="display: none" />
                    <input id="st_id" style="display: none" />


                    <input id="filter_radio" name="color" type="radio" value="" onclick="othershowdetails()" />
                    <span>фильтрация</span> <br />
                    <input checked="checked" id="videlenie_radio" name="color" type="radio" value="" onclick="othershowdetails()" />
                    <span>выделение</span>
                </td>
            </tr>
        </table>

        <p style="display: none"> @Ajax.ActionLink(linkText: "info", actionName: "DetailedWarningsOfWorkshop", routeValues: new { ws_id = "in_id",st_id="st_id" ,viewtype = "ws" }, ajaxOptions: new AjaxOptions { UpdateTargetId = "second_table" }, htmlAttributes: new { @id = "detailclick", @class = "mysubmit" }) </p>

        <script>
            var gc = true;
            document.getElementById('ddlist').onchange = function () {
                var path = document.getElementById('anchorclick').href;
                path = path.split("=")[0] + "=" + document.getElementById('ddlist').value;
                document.getElementById("anchorclick").href = path;
                document.getElementById('anchorclick').click();
                const myNode = document.getElementById("second_table");
                while (myNode.firstChild) {
                    myNode.removeChild(myNode.firstChild);
                }

            };

            document.getElementById('refresh_button').onclick = function () {
                var path = document.getElementById('anchorclick').href;
                path = path.split("=")[0] + "=" + document.getElementById('ddlist').value;
                document.getElementById("anchorclick").href = path;
                document.getElementById('anchorclick').click();
                const myNode = document.getElementById("second_table");
                while (myNode.firstChild) {
                    myNode.removeChild(myNode.firstChild);
                }
            };

            function showdetails(ws_id,st_id) {
                var path = document.getElementById('detailclick').href;

                //filter 1 ; videlenie 2;
                document.getElementById("ws_id").value = ws_id;
                document.getElementById("st_id").value = st_id;

                if (document.getElementById("filter_radio").checked) {
                    //alert(1);
                    path = path.split("=")[0] + "=" + ws_id + "&st_id=" + st_id + "&viewtype=1";
                }
                if (document.getElementById("videlenie_radio").checked) {
                    path = path.split("=")[0] + "=" + ws_id + "&st_id=" + st_id + "&viewtype=2";
                }
                document.getElementById("detailclick").href = path;
                document.getElementById('detailclick').click();
            }

            function othershowdetails() {
                var path = document.getElementById('detailclick').href;

                //filter 1 ; videlenie 2;
                ws_id = document.getElementById("ws_id").value;
                st_id = document.getElementById("st_id").value;


                if (document.getElementById("filter_radio").checked) {
                    //alert(1);
                    path = path.split("=")[0] + "=" + ws_id + "&st_id=" + st_id + "&viewtype=1";
                }
                if (document.getElementById("videlenie_radio").checked) {
                    path = path.split("=")[0] + "=" + ws_id + "&st_id=" + st_id + "&viewtype=2";
                }
                document.getElementById("detailclick").href = path;
                document.getElementById('detailclick').click();
            }

        </script>

        <style>
            #first_table {
                min-height: 300px;
            }

            #second_table {
                min-height: 300px;
            }
        </style>

    </div>
</body>
</html>
