@using azot_proj1.Models
@model List<QueryResultModel>


<div>
    <table border="1">
        @foreach (azot_proj1.Models.QueryResultModel d in Model)
    {
        <tr>
            <td> @d.warn_id</td>
            <td>  @d.sensor_type_name</td>
            <td>@d.normal_value</td>
            
            <td>@d.sensor_name</td>
            <td>@d.dangerous_value</td>
            <td>@d.warning_time</td>
        </tr>}

    </table>



</div>


