@using azot_proj1.Models
@model List<QueryResultModel>

@{ Layout = null; }

<div>

    @using System.Web.Optimization
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")

    <table border="1">
        @foreach (azot_proj1.Models.QueryResultModel d in Model)
        {
            <tr>
                <td> @d.warn_id</td>
                <td>  @d.workshop_name</td>
                <td>@d.sensor_name</td>
                <td>@d.dangerous_value</td>
                <td>@d.warning_time</td>
                <td>
                <td>@Ajax.ActionLink(linkText: "details", actionName: "SensorsDetails", routeValues: new { in_id = d.warn_id }, ajaxOptions: new AjaxOptions { UpdateTargetId = "sensor_results" })</td>

            </tr>}



    </table>

    <div id="sensor_results"></div>

</div>

